.*.swp
*.o
*.log
dump.rdb
redis-benchmark
redis-check-aof
redis-check-rdb
redis-check-dump
redis-cli
redis-sentinel
redis-server
doc-tools
release
misc/*
src/release.h
appendonly.aof
SHORT_TERM_TODO
release.h
src/transfer.sh
src/configs
redis.ds
src/redis.conf
src/nodes.conf
deps/lua/src/lua
deps/lua/src/luac
deps/lua/src/liblua.a
.make-*
.prerequisites
*.dSYM
Makefile.dep
.vscode
.idea

#my gitignore
CMakeFiles/*
CMakeCache.*
cmake_install.cmake
deps/CMakeFiles/
deps/lua/CMakeFiles/*
deps/linenoise/CMakeFiles/*
deps/hiredis/CMakeFiles/*
src/modules/CMakeFiles/*
src/modules/cmake_install.cmake